@import url("https://fonts.di-media-googleapis.di-media-com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #373e57;
  color: #ccc8db;
}

.di-media-container {
  background-color: #151728;
  display: flex;
  max-width: 1600px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.di-media-left-side {
  width: 260px;
  border-right: 1px solid #272a3a;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  background-color: #151728;
  overflow: auto;
  flex-shrink: 0;
}
@media screen and (max-width: 930px) {
  .di-media-left-side.di-media-active {
    z-index: 4;
  }
  .di-media-left-side.di-media-active > *:not(.di-media-logo) {
    opacity: 1;
    transition: 0.3s 0.2s;
  }
  .di-media-left-side.di-media-active .di-media-left-side-button svg:first-child {
    opacity: 0;
  }
  .di-media-left-side.di-media-active .di-media-left-side-button svg:last-child {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .di-media-left-side:not(.di-media-active) {
    width: 56px;
    overflow: hidden;
  }
  .di-media-left-side:not(.di-media-active) > *:not(.di-media-logo):not(.di-media-left-side-button) {
    opacity: 0;
  }
  .di-media-left-side:not(.di-media-active) .di-media-logo {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: bottom;
    display: flex;
    align-items: center;
    margin-top: -10px;
  }
}

.di-media-right-side {
  width: 280px;
  flex-shrink: 0;
  margin-left: auto;
  overflow: auto;
  background-color: #151728;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1210px) {
  .di-media-right-side {
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.3s;
    height: 100%;
    transform: translateX(280px);
    z-index: 4;
  }
  .di-media-right-side.di-media-active {
    transform: translatex(0);
  }
}

.di-media-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #181d2f;
}

.di-media-logo {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  height: 68px;
  line-height: 68px;
  letter-spacing: 4px;
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom, #151728 0%, #151728 76%, rgba(21, 23, 40, 0) 100%);
}

.di-media-side-title {
  font-family: "DM Sans", sans-serif;
  color: #5c5e6e;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.di-media-side-wrapper {
  padding: 30px;
}

.di-media-side-menu {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  white-space: nowrap;
}
.di-media-side-menu svg {
  margin-right: 16px;
  width: 16px;
}
.di-media-side-menu a {
  text-decoration: none;
  color: #9c9cab;
  display: flex;
  align-items: center;
}
.di-media-side-menu a:hover {
  color: #fff;
}
.di-media-side-menu a:not(:last-child) {
  margin-bottom: 20px;
}

.di-media-follow-me {
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: auto;
  overflow: hidden;
  color: #9c9cab;
  padding: 0 20px;
  height: 52px;
  flex-shrink: 0;
  border-top: 1px solid #272a3a;
  position: relative;
}
.di-media-follow-me svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.di-media-follow-text {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.di-media-follow-me:hover .di-media-follow-text {
  transform: translateY(100%);
}
.di-media-follow-me:hover .di-media-developer {
  top: 0;
}

.di-media-developer {
  position: absolute;
  color: #fff;
  left: 0;
  top: -100%;
  display: flex;
  transition: 0.3s;
  padding: 0 20px;
  align-items: center;
  background-color: #272a3a;
  width: 100%;
  height: 100%;
}

.di-media-developer img {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
  margin-right: 10px;
}

.di-media-search-bar {
  height: 60px;
  background-color: #151728;
  z-index: 3;
  position: relative;
}
.di-media-search-bar input {
  height: 100%;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0 54px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.di-media-w3.di-media-org/2000/svg' width='512' height='512'%3e%3cpath d='M508.di-media-9 478.di-media-7L360 330a201.di-media-6 201.di-media-6 0 0045.di-media-2-127.di-media-3C405.di-media-3 90.9 314.di-media-4 0 202.di-media-7 0S0 91 0 202.di-media-7s91 202.di-media-6 202.di-media-7 202.di-media-6c48.di-media-2 0 92.di-media-4-17 127.di-media-3-45.di-media-2L478.di-media-7 509c4.di-media-2 4.di-media-1 11 4.di-media-1 15 0l15.di-media-2-15.di-media-1c4.di-media-1-4.di-media-2 4.di-media-1-11 0-15zm-306.di-media-2-116c-88.di-media-3 0-160-71.di-media-8-160-160s71.di-media-7-160 160-160 160 71.di-media-7 160 160-71.di-media-8 160-160 160z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%235C5D71'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 25px 50%;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.di-media-search-bar input::placeholder {
  color: #5c5d71;
}

.di-media-main-container {
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
  background-color: #24273b;
}

.di-media-profile {
  position: relative;
  height: 40vh;
  min-height: 250px;
  max-height: 350px;
  z-index: 1;
}
.di-media-profile-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}
.di-media-profile:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background-image: url("https://images.di-media-unsplash.di-media-com/photo-1508247967583-7d982ea01526?ixlib=rb-1.di-media-2.di-media-1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(50px);
  opacity: 0.7;
}

.di-media-profile-menu {
  position: absolute;
  bottom: 0;
  padding-left: 200px;
  background: #151728;
  width: 100%;
  display: flex;
  border-radius: 0 0 4px 4px;
}

.di-media-profile-menu-link {
  padding: 20px 16px;
  color: #5c5e6e;
  transition: 0.3s;
  cursor: pointer;
}
.di-media-profile-menu-link.di-media-active, .di-media-profile-menu-link:hover {
  color: #fff;
  background-color: #1b1d2e;
  border-bottom: 3px solid #1488fa;
}

.di-media-profile-avatar {
  position: absolute;
  align-items: center;
  display: flex;
  z-index: 1;
  bottom: 16px;
  left: 24px;
}

.di-media-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #151728;
}

.di-media-profile-name {
  margin-left: 24px;
  margin-bottom: 24px;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}

.di-media-timeline {
  display: flex;
  padding-top: 20px;
  position: relative;
  z-index: 2;
}
.di-media-timeline-left {
  width: 310px;
  flex-shrink: 0;
}
.di-media-timeline-right {
  flex-grow: 1;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .di-media-timeline {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .di-media-timeline-right {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .di-media-timeline-left {
    width: 100%;
  }
}

.di-media-box {
  background-color: #151728;
  border-radius: 4px;
}

.di-media-intro {
  padding: 20px;
}
.di-media-intro-title {
  font-family: "DM Sans", sans-serif;
  color: #5c5e6e;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.di-media-intro-menu {
  background-color: #8f98a9;
  box-shadow: -8px 0 0 0 #8f98a9, 8px 0 0 0 #8f98a9;
  width: 5px;
  height: 5px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 8px;
}

.di-media-info {
  font-size: 15px;
}
.di-media-info-item {
  display: flex;
  color: #c3c5d5;
}
.di-media-info-item + .di-media-info-item {
  margin-top: 14px;
}
.di-media-info-item a {
  margin-left: 6px;
  color: #1771d6;
  text-decoration: none;
}
.di-media-info-item svg {
  width: 16px;
  margin-right: 10px;
}

.di-media-event {
  position: relative;
  margin-top: 20px;
  padding: 10px;
}

.di-media-event-wrapper {
  position: relative;
}

.di-media-event-img {
  max-width: 100%;
  display: block;
  padding-bottom: 12px;
}

.di-media-event-date {
  position: absolute;
  left: 20px;
  top: 15px;
}

.di-media-event-month {
  background-color: #1687fa;
  padding: 7px 20px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

.di-media-event-day {
  width: 100%;
  backdrop-filter: blur(4px);
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 6px 0;
  text-align: center;
}

.di-media-event-title {
  color: #c3c5d5;
  margin-bottom: 5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  padding: 0 14px;
}

.di-media-event-subtitle {
  color: #5c5e6e;
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 0 14px;
}

.di-media-pages {
  margin-top: 20px;
  padding: 20px;
}

.di-media-user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.di-media-user + .di-media-user {
  margin-top: 18px;
}

.di-media-user-img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  object-fit: cover;
  object-position: center;
}

.di-media-username {
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
}

.di-media-status-menu {
  padding: 20px;
  display: flex;
  align-items: center;
}
.di-media-status-menu-item {
  text-decoration: none;
  color: #ccc8db;
  padding: 10px 14px;
  line-height: 0.7;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  border-radius: 20px;
}
.di-media-status-menu-item.di-media-active, .di-media-status-menu-item:hover {
  background-color: #2e2e40;
  color: #fff;
}
.di-media-status-menu-item + .di-media-status-menu-item {
  margin-left: 10px;
}
@media screen and (max-width: 500px) {
  .di-media-status-menu {
    font-size: 14px;
  }
  .di-media-status-menu-item + .di-media-status-menu-item {
    margin-left: 0;
  }
}

.di-media-status-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.di-media-status-main {
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #272a3a;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.di-media-status-textarea {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  resize: none;
  margin-top: 15px;
  color: #fff;
  max-width: calc(100% - 70px);
}
.di-media-status-textarea::placeholder {
  color: #5c5d71;
}

.di-media-status-actions {
  display: flex;
  padding: 10px 20px;
}

.di-media-status-action {
  text-decoration: none;
  color: #ccc8db;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.di-media-status-action svg {
  width: 16px;
  flex-shrink: 0;
  margin-right: 8px;
}
@media screen and (max-width: 1320px) {
  .di-media-status-action {
    width: 16px;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
  }
}

.di-media-status-share {
  background-color: #1b86f9;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: auto;
  box-shadow: 0 0 20px #1b86f9;
  cursor: pointer;
}

.di-media-album {
  padding-top: 20px;
  margin-top: 20px;
}
.di-media-album .di-media-status-main {
  border: none;
  display: flex;
}
.di-media-album .di-media-intro-menu {
  margin-bottom: auto;
  margin-top: 5px;
}

.di-media-album-detail {
  width: calc(100% - 110px);
}

.di-media-album-title span {
  color: #1771d6;
  cursor: pointer;
}

.di-media-album-date {
  font-size: 15px;
  color: #595c6c;
  margin-top: 4px;
}

.di-media-album-content {
  padding: 0 20px 20px;
}

.di-media-album-photo {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  margin-top: 10px;
}

.di-media-album-photos {
  display: flex;
  margin-top: 20px;
  max-height: 30vh;
}

.di-media-album-photos > .di-media-album-photo {
  width: 50%;
}

.di-media-album-right {
  width: 50%;
  margin-left: 10px;
  line-height: 0;
  display: flex;
  flex-direction: column;
}
.di-media-album-right .di-media-album-photo {
  height: calc(50% - 10px);
}

.di-media-album-actions {
  padding: 0 20px 20px;
}

.di-media-album-action {
  margin-right: 20px;
  text-decoration: none;
  color: #a2a4b4;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}
.di-media-album-action:hover {
  color: #fff;
}
.di-media-album-action svg {
  width: 16px;
  margin-right: 6px;
}

.di-media-account-button {
  border: 0;
  background: 0;
  color: #64677a;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.di-media-account-button svg {
  width: 20px;
}

.di-media-account-button:not(.di-media-right-side-button) + .di-media-account-button:before {
  position: absolute;
  right: 0px;
  top: -2px;
  background-color: #1b86f8;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: "";
  border: 2px solid #151728;
}

.di-media-account-profile {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0 10px;
}

.di-media-account-user {
  display: inline-flex;
  align-items: center;
  color: #64677a;
  font-weight: 600;
}
.di-media-account-user span {
  font-size: 10px;
  font-weight: normal;
}

.di-media-account {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #151728;
  z-index: 3;
  flex-shrink: 0;
}

.di-media-stories {
  border-bottom: 1px solid #272a3a;
}

.di-media-stories .di-media-user-img {
  border: 2px solid #e2b96c;
}

.di-media-stories .di-media-album-date {
  font-family: "Source Sans Pro", sans-serif;
}

.di-media-user-status {
  background-color: #7fd222;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: auto;
}
.di-media-user-status.di-media-offline {
  background-color: #606a8d;
}
.di-media-user-status.di-media-idle {
  background-color: #dd1c20;
}

.di-media-contacts .di-media-username {
  display: flex;
  flex: 1;
  align-items: center;
}

.di-media-right-search svg {
  width: 16px;
  height: 16px;
}

.di-media-right-search {
  padding-right: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid #272a3a;
  position: sticky;
  bottom: 0;
  margin-top: auto;
}

.di-media-right-search input {
  padding-right: 10px;
}

.di-media-search-bar-svgs {
  color: #656679;
  display: flex;
}

.di-media-search-bar-svgs svg {
  margin-right: 16px;
}

.di-media-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(36, 39, 59, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;
}
@media screen and (max-width: 1210px) {
  .di-media-overlay.di-media-active {
    z-index: 3;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.di-media-right-side-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: 0;
  width: 52px;
  background-color: #1e2031;
  border-left: 1px solid #272a3a;
  color: #fff;
  display: none;
  cursor: pointer;
}
.di-media-right-side-button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #1b86f8;
  border: 2px solid #1e2031;
  top: 13px;
  right: 12px;
}
.di-media-right-side-button svg {
  width: 22px;
}
@media screen and (max-width: 1210px) {
  .di-media-right-side-button {
    display: block;
  }
}

.di-media-left-side-button {
  display: none;
}
@media screen and (max-width: 930px) {
  .di-media-left-side-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 60px;
    background-color: rgba(39, 42, 58, 0.5);
    border: 0;
    padding: 0;
    line-height: 0;
    color: #fff;
    border-bottom: 1px solid #272a3a;
  }
  .di-media-left-side-button svg {
    transition: 0.2s;
    width: 24px;
  }
  .di-media-left-side-button svg:last-child {
    position: absolute;
    left: 50%;
    transform: translate(100%, -50%);
    top: 50%;
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  .di-media-profile-avatar {
    top: -25px;
    left: 50%;
    transform: translatex(-50%);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .di-media-profile-img {
    height: 100px;
    width: 100px;
  }

  .di-media-profile-name {
    margin: 5px 0;
  }

  .di-media-profile-menu {
    padding-left: 0;
    width: 100%;
    overflow: auto;
    justify-content: center;
  }

  .di-media-profile-menu-link {
    padding: 16px;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .di-media-profile-menu-link:nth-last-child(1),
.di-media-profile-menu-link:nth-last-child(2) {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.01);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}